<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Pedido | Pet Insight</title>

    <link rel="stylesheet" href="../../public/css/pedido.css">
    <!-- Logo na aba do site  -->
    <link rel="icon" type="image/x-icon" href="../../public/img/favicon-32x32.png">
</head>

<body>
    <header>
        <div class="logo-txt">
            <a href="Index.php"><img class="header-img" src="../../public/img/Pet insight.png"
                    alt="Imagem da Logo"></a>
        </div>
        <a href="../views/telaPerfil.php">
            <img class="user" src="../../public/img/user.png" alt="usuário">
        </a>
    </header>

    <main>
        <div class="titulo">
            <h1>Pedido finalizado</h1>
        </div>

        <section class="espaço-produtos">
            <h1 class="pedido">Pedido #001</h1>

            <div class="espaco">
                <img class="size-product" src="../../public/img/cao.png" alt="Foto do Produto">

                <h1 class="dolado">Caramelo</h1>
                <span class="spam"><strong>Cor:</strong> Caramelo</span>
                <span class="spam1"><strong>Quantidade:</strong> 2</span>

                <p class="valor"><strong>Valor:</strong></p>
                <span class="valor-red"> R$ 150,00</span>
            </div>

            <div class="espaco">
                <img class="size-product" src="../../public/img/cao.png" alt="Foto do Produto">

                <h1 class="dolado">Caramelo</h1>
                <span class="spam"><strong>Cor:</strong> Caramelo</span>
                <span class="spam1"><strong>Quantidade:</strong> 1</span>

                <p class="valor"><strong>Valor:</strong></p>
                <span class="valor-red"> R$ 75,00</span>
            </div>

            <div class="informacoes">
                <h1 class="txt-informacoes">Informações</h1>
                <div class="dados">
                    <p class="info"><strong>Endereço de entrega:</strong> <span class="info-dados">Baronesa 9999</span>
                    </p>
                    <p class="info"><strong>Forma de Pagamento:</strong> <span class="info-dados">Pix</span></p>
                </div>

                <hr>

                <div class="info-valor">
                    <p class="valor-info"><strong>Valor da compra:</strong> <span class="red-valor"> R$ 150,00</span>
                    </p>
                    <p class="valor-info"><strong>Subtotal:</strong> <span class="red-valor"> R$ 155,00</span></p>
                </div>
            </div>

            <div class="flex-button">
                <a href="../views/telaPerfil.php"><button class="botao-voltar" type="button">Voltar</button></a>
            </div>
        </section>
    </main>

    <script src="../../public/js/tema.js"></script>
</body>

</html>